.productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 50px;
}

.productCard {
    margin: 20px;
    height: 650px;
    background-color: #4C5B61;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
}

.productIMG {
    width: 100%;
}

.productText {
    padding-top: 20px;
    display: block;
    margin: auto;
    color: white;
    height: 175px;
    width: 80%;
}

.productTitle, .productPrice, .productDesc {
    padding-bottom: 20px;
}

.purchase {
    width: 80%;
    text-align: center;
    display: block;
    margin: auto;
}