.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 50px
}

.card {
    margin: 20px;
    height: 450px;
    background-color: #4C5B61;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
}

.card.middle:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 30px 0 rgba(0, 0, 0, 0.4);
}

.cardIMG {
    display: block;
    margin: auto;
    height: 195px;
    padding-top: 30px;
}

.cardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    height: 225px;
}

.cardTitle, .cardDesc {
    text-align: center;
    color: white;
}

.cardTitle {
    font-size: 2em;
}

.cardDesc {
    font-size: 20px;
    padding-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }

    .cardTitle {
        overflow: hidden;
    }

    .cardDesc {
        font-size: 18px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cardContainer {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 100px;
    }
}